*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content{
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#121212, #212b46);
}

.header h1{
  color: #fff;
  font-size: 60px;
  animation: flipTitle 1.5s;
}

@keyframes flipTitle {
  from{
    transform: rotateX(90deg);
  }
  to{
    transform: rotateX(0deg);
  }
}

.inputBox{
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.3);
  margin: 20px 0;
  border-radius: 8px;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  width: 280px;
}
.inputBox input{
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  width: 100%;
  margin-right: 10px;
  font-size: 18px;
}

.inputBox input::-webkit-outer-spin-button,
.inputBox input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.inputBox input::placeholder{
  font-size: 15px;
}

.inputBox button{
  background: transparent;
  border: none;
  cursor: pointer;
  margin-right: 4px;
  transition: 0.3s;
}

.inputBox button:hover{
  transform: scale(1.1);
}

.result{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding-bottom: 10px;
  border-radius: 8px;
  margin-top: 5px;
  width: 350px;
}

.result h3{
  margin: 10px 0;
  font-size: 30px;
}

.result span{
  margin-bottom: 6px;
}

@media (min-width: 800px){
  .header h1{
    font-size: 90px; 
  }

  .inputBox{
    width: 480px;
  }

  .inputBox input{
    font-size: 28px;
  }

  .inputBox input::placeholder{
    font-size: 25px;
  }

  .IconFi{
    height: 40px;
    width: 35px;
  }

  .result{
    width: 400px;
    height: 220px;
  }

  .result h3{
    font-size: 38px;
  }

  .result span{
    font-size: 24px;
  }

}
